<div class="bg-neutral-700 relative bottom-0 w-full text-white ">
  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum rem mollitia facilis quidem autem officia amet facere sed nisi iusto hic dolores aliquam, illum adipisci. Voluptatum quas necessitatibus id laborum.</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat corrupti enim quae, dicta magnam dolorem! Sit, aspernatur, obcaecati, quia ipsam molestias quam quae possimus dignissimos aliquam laboriosam magni quasi! Voluptas.</p>
</div>
