<div
  class="bg-neutral-700 absolute bottom-0 right-0 left-0 w-full text-white p-10"
>
  <div class="flex justify-center">
    <img src="assets/images/instagram.png" alt="instagram" class="w-14 mr-5" />
    <img src="assets/images/twitter.png" alt="twitter" class="w-14 mr-5" />
    <img src="assets/images/telegram.png" alt="telegram" class="w-14 mr-5"/>
    <img src="assets/images/facebook.png" alt="facebook" class="w-14 mr-5"/>
  </div>
  <div class=" pt-10 flex justify-center ">
    <button class="m-5">Info</button>
    <button class="m-5">About</button>
    <button class="m-5">Photo</button>
  </div>
  <div class="text-center pt-10">
    <p>© 2023 Flowers Street</p>
  </div>
</div>
