<div class="w-full mt-5">
  <div class="flex  items-center justify-around bg-lime-50 -mt-5 ">
    <div class="pb-10">
        <h2 class="uppercase italic text-6xl">
          Flowers are more <br />
          than words
        </h2>
        <p>
          Mówią że szczęście nie kupisz, ale możesz kwiaty, to prawie to samo
        </p>
    </div>
    <div class="py-0">
      <img
        src="https://www.shkolazhizni.ru/img/content/i212/212903_or.jpg"
        alt="dd"
        width="500px"
      />
    </div>
  </div>
  <app-carousel [name]="nameSlider1" [bouquets]="bouquetsRec"></app-carousel>
  <app-carousel [name]="nameSlider2" [bouquets]="bouquetsBest"></app-carousel>
</div>
